@media all and (max-width: 699px){
    .header h1{
        font-size: 18rem;
        line-height: 18rem;
        padding-top: 5rem;
    }

}
@media all and (min-width: 700px) and (max-width: 1399px){
    body{
        font-size: 1.5rem;
    }
    .top-navigation-wrapper{
        padding: 15px 0;
        font-size: 1.25rem;
    }
    .navbar-brand {
        font-size: 44px !important;
        padding: 20px 15px;
    }
    .navbar-brand span:before{
        font-size: 28px !important;
    }
    .dropdown a{
        padding: 15px 30px 15px 15px !important;
    }
    .header{
        padding: 10rem;
        margin-top: 80px;
    }
    .header h1{
        font-size: 16rem;
        line-height: 12rem;
        padding-top: 8rem;
    }
    .header p{
        font-size: 1.7rem;
        line-height: 2.9rem;
    }

    section.content ul li {
        position: relative;
        left: 1rem;
        padding-right: 0;
        line-height: 24px;
    }

    .promo-container{
        width: 70vw;
        margin: 5rem auto;
        padding: 2rem 2rem 1rem 2rem;
    }
    .promo-container img{
        max-height: 180px;
    }
    .promo{
        font-size: 2.5rem;
    }

    p{
        line-height: 24px;
    }

    .flex-item .text span.txt {
        width: auto !important;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .pricing .price-table  h2{
        font-size: 22px;
    }
    .price-table > ul > .package h2.package-title{
        font-size: 18px;
    }
    .price-table > ul > .package p.package-details{
        font-size: 12px;
    }
    .price-table > ul > .package p.list i {
        margin-right: 10px;
    }
    .price-button{
        padding: 1.25em 2.1875em;
        font-size: 0.75em;
    }
    .about_single i[class^="flaticon"]:before, [class*=" flaticon"]:before, [class^="flaticon"]:after, [class*=" flaticon"]:after{
        font-size: 42px !important;
    }
    .about_single i{
        font-size: 42px !important;
        height: 120px !important;
        line-height: 120px !important;
        width: 120px;
    }

}
@media all and (min-width: 1400px){
    .header h1{
        font-size: 18rem;
        line-height: 18rem;
        padding-top: 5rem;
    }
    .header p{
        font-size: 2rem;
        line-height: 2.9rem;
    }

}

@media screen and (min-width: 48em) {
    .chess_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        height: 50vh;
        background-color: #f8f8f8;
    }
    .chess_item:nth-child(2n) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .chess_item figure, .chess_item_content, .flex_item figure {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        height: 100%;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .chess_item figure, .flex_item figure {
        position: relative;
        overflow: hidden;
    }
    .chess_item figure img , .flex_item figure img{
        position: absolute;
        max-height: none;
        max-width: none;
        height: auto;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}